---

layout: default

---

<div class="row well">
<div class="col-md-7"> <!-- left -->
    Welcome to the homepage for Topics in Algebraic Geometry: Division Algebras (UPenn MATH 7250)
    <br />
      <p> Mondays and Wednesdays in the DRL 4th floor lounge from 12:00pm to 1:30pm</p>
    <br />

    <br />
    <ul>
    <li>
    <a href="notes.pdf">Some notes</a> (in progress, last updated March 19, 8:42pm)
    </li>
    </ul>
    {% include news.html %}
</div> <!-- /left-->

<div class="col-md-4 col-md-offset-1"> <!-- right -->
  <div class="row well"> <!-- inner row well 1 (right) -->


    {% include basic_info.html %}
  </div> <!-- /inner row well 1 (right) -->
</div>
</div>
